html {
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  font-weight: 300;
}

p,
a,
h2 {
  color: #3c424e;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #78879e;
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;

}

/* Topbar header */
.topbar {
  padding-top: 7px;
  float: right;

  a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
  }
}


/* Header */
.title {
  font-family: "Merriweather", sans-serif;
  padding-left: 30px;
  color: white;
  text-align: left;
  float: left;
  font-weight: 200;

  a {
    font-size: 30px;
  }

}

body {
  background-color: #ffffff;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
}


/* Images */
.posts {
  white-space: nowrap;
  margin-top: 3em;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;

  img:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  img {
    margin: 10px;
  }

  .harpRow {
    border-radius: 15px;
    padding: 1em;
    white-space: wrap;

    text-align: center;
    background-color: #f1f2f3;

    img {
      height: 15em;
    }
  }


}

.multiRow img {
  object-fit: cover;
  max-width: 50%;
  aspect-ratio: 1.2;
}
.multiRow2 img {
  object-fit: cover;
  max-width: 50%;
  aspect-ratio: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
  }
}

@media only screen and (min-width: 1700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .title {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
  }

  .topbar {
    margin-top: 10px;
    float: none;
    text-align: center;
  }

  .posts {
    margin-top: 10px;
    white-space: wrap;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .harpRow {
    text-align: center;
    margin: 0em;
    padding: 0em;
  }

  .harpRow img {
    height: 10em;
  }

  .multiRow img {
    max-width: 100%;
    width: 100%;

  }
  .multiRow2 img {
    max-width: 100%;
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

}

@media only screen and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}
/*the insta logo*/
.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}


/* The Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;

  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* Fallback color */
  background-color: rgba(213, 225, 220, 0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80vh;
  border: none;
  height: auto;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* The left and right arrow icons in the modal view */
span.material-symbols-outlined {
  padding-top: 100px;
  margin: auto;
  text-align: center;
  font-size: 100px;
  color: #284944;
}

span.material-symbols-outlined:hover {
  cursor: pointer;
}

/* Arrow*/
#rightButton {
  margin-top: 150px;
  float: right;
}

#leftButton {
  margin-top: 150px;
  float: left;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #284944;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  #rightButton {
    font-size: 0px;
  }

  #leftButton {
    font-size: 0px;
  }
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.span a {
  font-size: 500px;
}

/* Intro paragraph*/
.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 110px;
}

.intro p {
  padding-top: 50px;
  width: 35em;
  font-size: 15dp;
  text-align: center;
  white-space: wrap;
  margin-left: auto;
  margin-right: auto;
}

.intro img {
  border: 4px solid #dbd1d1;
  border-radius: 5%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin-left: 10vw;
  margin-right: auto;
  float: left;
}

@media only screen and (max-width: 700px) {
  .intro {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .intro img {
    float: none;
    max-width: 30vw;
    max-height: 30vw;
    object-fit: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .intro p {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80vw;
  }
}