p,a,h2, h1{
    font-family:calibri;
    color: #967a3c;
    font-size: 25px;
    text-decoration: none;
}

h1{
  font-size: 50px;
  width: 300px;
  height: 50px;
  font-family:calibri;
  text-align: center;
  margin-left: 40%;
}

a:hover{
  color: #facc64;
}
#flower{
  width: 20px;
  height: 20px;
}
#daisy1{
  width: 80px;
  height: 80px;
  margin-left: 10px
}
#daisy{
  width: 80px;
  height: 80px;
  margin-left: 60px;
}
.headbar{
  width: 1100px;
  height: 100px;
  color:white;
  margin: auto;
  text-align: center;
  margin-top: 65px;
}
.topbar{
  text-align: center;
  margin:auto;
  margin-top: 5px;
  padding:10px;
  width:1186px;
  height:10px%;
  background-color: #ffe08d;
}
.topbar a{
  font-family:calibri;
  text-align: center;
  margin:auto;
  margin-left: 6%;
  text-decoration: none;
}
body{
  margin:auto;
  width: 1200px;
  background-color: #fef4dd;
}
.sidenav {
    margin-top: 80px;
    width: 210px;
    position: fixed; 
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffe08d;
}
.sidenav a {
    font-family:calibri;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.intro
{
  margin-left: 300px;
  margin-top: 50px;
}
.intro p{
  margin-right: 230px;
  font-family:calibri;
  font-size: 25px;
  line-height:50px;
  text-align: center;
}

#email{
  font-weight: bold;
  font-size: 20px;
}
#welcome{
  font-size: 30px;
}
#link{
  text-decoration: underline;
}
