html{
  font-family: 'Montserrat', sans-serif;
  font-weight:light;
  font-weight: 300;
}
p,a,h2{
    color: #967a3c;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
  color: #e4c88c;
}

#flower{
  width: 20px;
  height: 20px;
}
#daisy1{
  width: 80px;
  height: 80px;
  margin-left: 10px
}
#daisy{
  width: 80px;
  height: 80px;
  margin-left: 60px;
}

/* Header */
.headbar{
  color:white;
  margin: auto;
  text-align: center;
  margin-top: 65px;
}
.headbar h1{
  font-size: 60px;
  font-weight: 500;
}

/* Topbar header */
.topbar{
  text-align: center;
  margin:auto;
  margin-top: 5px;
  padding:10px;
  background-color: #f0dead;
}
.topbar a{
  text-align: center;
  margin:auto;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}
body{
  margin:auto;
  max-width: 1200px;
  width: 85%;
  background-color: #f5f0e4;
}

/* Intro paragraph*/
.intro
{
  margin-left:40px;
  margin-right:40px;
  margin-top: 50px;
}
.intro p{
  font-size: 25px;
  line-height:50px;
  margin-right:50px;
  text-align: left;
}
#email{
  font-weight: 500;
  font-size: 23px;
}
#link{
  text-decoration: underline;
}
.intro img {
  object-fit: cover;
  border: 10px solid #ffffff;
  float:right;
  max-height:300px;
  width:300px;
}
#hello {
  font-size: 30px;
}
