html{
  font-family: 'Montserrat', sans-serif;
  font-weight:light;
  font-weight: 300;
}
p,a,h2, h3{
    color: #967a3c;
    font-size: 25px;
    text-decoration: none;
}
h2{
  font-size: 30px;
  font-weight: 400;
}
h4{
  font-size: 23px;
  font-weight: 350;
}
a:hover{
  color: #e4c88c;
}

#flower{
  width: 20px;
  height: 20px;
}

/* Header */
.headbar{
  color:white;
  margin: auto;
  text-align: center;
  margin-top: 65px;
}
.headbar h1{
  font-size: 60px;
  font-weight: 500;
}

/* Topbar header */
.topbar{
  text-align: center;
  margin:auto;
  margin-top: 5px;
  padding:10px;
  background-color: #f0dead;
}
.topbar a{
  text-align: center;
  margin:auto;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}
body{
  margin:auto;
  max-width:  1200px;
  width: 85%;
  background-color: #f5f0e4;
}

/* Intro paragraph*/
.intro
{
  margin-top: 50px;
}
.intro p{
  font-size: 25px;
  margin-left: 240px;
  line-height:40px;
}
#email{
  font-weight: 500;
  font-size: 25px;
}

/* Sidebar */
.sidenav {
    margin-top: 90px;
    width: 200px;
    position: fixed; 
    padding: 5px;
    border: 3px  #f0dead solid;
}
.sidenav a {
    font-size: 20px;
    line-height: 35px;
    display: block;
}


/* Projects */
.posts{
 margin-top: 90px;
 margin-left: 250;
}
.post{
  min-height: 270;
  margin-top: 30px;
}
.post img{
  float: right;
  max-width: 40%;
  max-height: 230;
  margin-left: 20px;
}
.post p{
  font-size: 20px;
  line-height: 25px;
}
#post-sub{
  color: #a79262;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}
/* Buttons*/
button {
  color: #967a3c;
  width: 90px;
  height: 35px;
  border: 2px  #f0dead solid; 
  background-color: transparent;
  border-radius: 10px;
  font-size: 13px;;
}
button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #f0dead;
}