a, p h2{
    color: #cca8b5;
    text-decoration: none;
}
img{
  margin-top: 30px;
  margin-left: 3%;
  object-fit: cover;
  border: 10px solid #ffecf3;
  width:250px;
  height:250px;
}
img:hover {
  object-fit: cover;
  width:250px;
  height:250px;
  opacity: 0.7;
}
#logo
{
  margin-top: auto;
  margin-left: auto;
  border: none;
  width: auto;
  height: auto;
}

body{
  margin:auto;
  width: 1200px;
  background-color: "#ffffff";
}

.headbar{
  width: 1100px;
  height: 30%;
  color:white;
  padding: 50px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

/* Top bar*/
.topbar{
  text-align: center;
  margin:auto;
  margin-top: 5px;
  padding:10px;
  width:1186px;
  height:10px%;
  background-color: #ffecf3;
}

.topbar a{
  font-family:calibri;
  text-align: center;
  margin:auto;
  margin-left: 5%;
  font-size: 25px;
}
.topbar a:hover{
  color: #997e88;
}

/*side bar*/
.sidenav {
    margin-top: 4%;
    width: 210px;
    position: fixed; 
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd3e3;
}
.sidenav a {
    font-family:calibri;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: block;
}
.sidenav a:hover {
    color: #997e88;
}

/* left images in the gallery*/
.left{
  margin-left: 23%;
}

/* The Modal */
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border:none;
    height: auto;
}
.modal-content:hover{
  opacity: 1;
  width: 80%;
  max-width: 700px;
  border:none;
  height: auto;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* buttons in the model*/
#modalButton{
  float:right;
}
/* Arrow*/
button{
  background-color: gray;
  border: none;   
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#rightButton{
  margin-top: 150px;
  margin-right: 150px; 
}
#rightButton:hover{
  cursor: pointer;
}
#leftButton{
  margin-top: 150px;
  margin-left: 150px;
  float:left;
}

/* arrow on the buttons*/
i {
    opacity: 1.0;
    margin-top: 5px;
    border: solid white;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
